# Generate multi-level dataset

In [9]:
import pandas as pd 
import random
import configparser
from tqdm.auto import tqdm

## Parameters

In [8]:
config = configparser.ConfigParser()
sectionName = 'Generation'
config.add_section(sectionName)
config[sectionName]['Total'] = '1000'
config[sectionName]['Levels'] = '5'
config[sectionName]['LevelSegments'] = '{}'.format((3, 10, 20, 80, 100))
config[sectionName]['ValueRange'] = '{}'.format((3, 10))
config.write(open('setting.ini', 'w'))

## Generation

In [17]:
total = int(config[sectionName]['Total'])
levels = int(config[sectionName]['Levels'])
rnd_min, rnd_max = eval(config[sectionName]['ValueRange'])
segments = eval(config[sectionName]['LevelSegments'])

columns = [f'Level_{e}' for e in range(levels)]
# columns.append('Value')

data = pd.DataFrame(columns=columns)
data['Value'] = [random.randint(rnd_min, rnd_max) for e in range(total)]

def rnd_feed(level):
    num = segments[level]
    candidates = [f'No-{e}-Lvl-{level}' for e in range(num)]
    return random.choice(candidates)

for j, col in tqdm(enumerate(columns)):
    data[col] = j
    data[col] = data[col].map(lambda level: rnd_feed(level))

data

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

        Level_0     Level_1      Level_2      Level_3      Level_4  Value
0    No-0-Lvl-0  No-1-Lvl-1   No-6-Lvl-2   No-5-Lvl-3  No-17-Lvl-4      3
1    No-2-Lvl-0  No-0-Lvl-1  No-17-Lvl-2  No-58-Lvl-3  No-86-Lvl-4      3
2    No-2-Lvl-0  No-0-Lvl-1   No-8-Lvl-2  No-49-Lvl-3  No-16-Lvl-4      8
3    No-2-Lvl-0  No-4-Lvl-1  No-15-Lvl-2  No-70-Lvl-3  No-76-Lvl-4      5
4    No-0-Lvl-0  No-0-Lvl-1  No-17-Lvl-2  No-53-Lvl-3  No-73-Lvl-4      4
..          ...         ...          ...          ...          ...    ...
995  No-1-Lvl-0  No-7-Lvl-1  No-13-Lvl-2  No-52-Lvl-3  No-95-Lvl-4      4
996  No-2-Lvl-0  No-2-Lvl-1   No-6-Lvl-2  No-32-Lvl-3  No-81-Lvl-4      9
997  No-2-Lvl-0  No-4-Lvl-1  No-16-Lvl-2  No-52-Lvl-3  No-43-Lvl-4      6
998  No-1-Lvl-0  No-3-Lvl-1  No-16-Lvl-2  No-78-Lvl-3  No-17-Lvl-4      5
999  No-0-Lvl-0  No-8-Lvl-1   No-7-Lvl-2   No-6-Lvl-3   No-8-Lvl-4      8

[1000 rows x 6 columns]

In [21]:
data.query('Level_0 == "No-1-Lvl-0"')

        Level_0     Level_1      Level_2      Level_3      Level_4  Value
7    No-1-Lvl-0  No-5-Lvl-1  No-17-Lvl-2  No-59-Lvl-3  No-15-Lvl-4     10
10   No-1-Lvl-0  No-1-Lvl-1   No-1-Lvl-2   No-3-Lvl-3  No-60-Lvl-4      3
12   No-1-Lvl-0  No-5-Lvl-1   No-8-Lvl-2  No-36-Lvl-3  No-34-Lvl-4      4
17   No-1-Lvl-0  No-4-Lvl-1   No-5-Lvl-2  No-75-Lvl-3  No-34-Lvl-4      3
18   No-1-Lvl-0  No-6-Lvl-1  No-18-Lvl-2  No-15-Lvl-3  No-74-Lvl-4      7
..          ...         ...          ...          ...          ...    ...
985  No-1-Lvl-0  No-4-Lvl-1   No-3-Lvl-2  No-32-Lvl-3  No-15-Lvl-4      8
990  No-1-Lvl-0  No-4-Lvl-1  No-18-Lvl-2  No-23-Lvl-3  No-88-Lvl-4     10
993  No-1-Lvl-0  No-3-Lvl-1   No-2-Lvl-2  No-22-Lvl-3  No-18-Lvl-4     10
995  No-1-Lvl-0  No-7-Lvl-1  No-13-Lvl-2  No-52-Lvl-3  No-95-Lvl-4      4
998  No-1-Lvl-0  No-3-Lvl-1  No-16-Lvl-2  No-78-Lvl-3  No-17-Lvl-4      5

[326 rows x 6 columns]